.ziltag-ziltag-map-dialog {
  position: relative;
  display: flex;
  cursor: default;
}

.ziltag-ziltag-map-dialog__col0 {
  width: 226px;
}

.ziltag-ziltag-map-dialog__col1 {
  position: absolute;
  right: 0;
  height: 100%;
}

.ziltag-ziltag-map-dialog nav {
  width: 59px;
  height: 100%;
  line-height: 20px;
  border-left: 1px solid black;
  text-align: center;
}

.ziltag-ziltag-map-dialog p {
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, .87);
}

.ziltag-ziltag-map-dialog p strong {
  font-size: 12px;
  font-weight: 500;
}
