.ziltag-ziltag-comment {
  display: flex;
  background: white;
  padding: 15px 17px 0;
  border-radius: 3px;
}

.ziltag-ziltag-comment:last-of-type {
  padding-bottom: 15px;
}

.ziltag-ziltag-comment__user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.ziltag-ziltag-comment__user-name {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, .87);
  line-height: 22px;
}

.ziltag-ziltag-comment__text {
  font-family: Roboto, GillSans, Calibri, Trebuchet, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, .87);
}

.ziltag-ziltag-comment__text--editing {
  padding: 0;
  border: 0;
  outline: 0;
  resize: none;
}

.ziltag-ziltag-comment__row {
  display: flex;
}

.ziltag-ziltag-comment__edit-operator {
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.ziltag-ziltag-comment__edit-operator:not(:last-of-type) {
  padding-right: 16px;
  border-right: 1px solid rgba(0, 0, 0, .87);
}

.ziltag-ziltag-comment__edit-operator--warn {
  color: rgb(238, 46, 36);
  text-decoration: none;
  cursor: default;
}

.ziltag-ziltag-comment__edit-operator--warn:first-of-type {
  padding-right: 0;
  border-right: 0;
}

.ziltag-ziltag-comment .ziltag-ziltag-comment__main {
  width: 100%;
}

.ziltag-ziltag-comment__main .ziltag-ziltag-comment__text {
  width: 100%;
  margin-bottom: 10px;
}

.ziltag-ziltag-comment__row .ziltag-ziltag-comment__edit-operator {
  margin-right: 16px;
}

.ziltag-ziltag-comment .ziltag-ziltag-comment__user-avatar {
  margin-right: 10px;
}

.ziltag-ziltag-comment__row--editing .ziltag-ziltag-comment__edit-operator {
  font-weight: normal;
}

.ziltag-ziltag-comment__row--editing .ziltag-ziltag-comment__edit-operator--warn {
  font-weight: 500;
}
