.ziltag-ziltag-map-page {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: rgb(249, 249, 249);
  font-family: Roboto, GillSans, Calibri, Trebuchet, sans-serif;
}

.ziltag-ziltag-map-page__ziltag {
  display: flex;
  height: 122px;
  background: white;
  border-radius: 3px;
  padding: 15px 17px;
  text-decoration: none;
}

.ziltag-ziltag-map-page__ziltag--activated {
  background: rgba(0, 0, 0, .12);
}

.ziltag-ziltag-map-page__heading {
  font-size: 34px;
  font-weight: normal;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.ziltag-ziltag-map-page__ziltag-user-avatar {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
}

.ziltag-ziltag-map-page__ziltag-user-name {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, .87);
  line-height: 22px;
}

.ziltag-ziltag-map-page__ziltag-main {
  width: calc(100% - 34px);
}

.ziltag-ziltag-map-page__ziltag-content {
  height: 100px;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0,0,0,.87);
  word-wrap: break-word;
  overflow: hidden;
}

.ziltag-ziltag-map-page__anchorify-text {
  color: #0074D9;
  text-decoration: underline;
}

.ziltag-ziltag-map-page__close {
  width: 20px;
  height: 20px;
  background: top center url(close.png) no-repeat;
  cursor: pointer;
}

.ziltag-ziltag-map-page .ziltag-ziltag-map-page__ziltag {
  margin-bottom: 14px;
}

.ziltag-ziltag-map-page .ziltag-ziltag-map-page__heading {
  position: relative;
  margin: 0 0 14px;
  padding-top: 17px;
}

.ziltag-ziltag-map-page__ziltag .ziltag-ziltag-map-page__ziltag-user-avatar {
  margin-right: 10px;
}

.ziltag-ziltag-map-page .ziltag-ziltag-map-page__close {
  position: absolute;
  top: 0;
  right: 8px;
}
