.ziltag-pseudo-comment {
  display: flex;
  background: white;
  padding: 15px 17px 0;
  border-radius: 3px;
}

.ziltag-pseudo-comment__text {
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, .26);
}

.ziltag-pseudo-comment__user-avatar {
  width: 40px;
  height: 40px;
}

.ziltag-pseudo-comment__main strong {
  font-size: 10px;
  font-weight: 500;
  color: rgb(238, 46, 36);
}
