.ziltag-ziltag-map-text-field {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}
.ziltag-ziltag-map-text-field__input {
  font-family: Roboto-Regular, sans-serif;
  font-weight: normal;
  padding-left: 40px;
  font-size: 12px;
  border-width: 0;
  line-height: 32px;
  background-position: 0 center;
  background-repeat: no-repeat;
}
.ziltag-ziltag-map-text-field__input--username{
  background-image: url(username.png);
}
.ziltag-ziltag-map-text-field__input--email{
  background-image: url(email.png);
}
.ziltag-ziltag-map-text-field__input--password{
  background-image: url(password.png);
}
.ziltag-ziltag-map-text-field__input:focus {
  outline: 0;
}