.ziltag-base-page__head {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.ziltag-base-page__avatar {
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.ziltag-base-page__href {
  font-family: Roboto, GillSans, Calibri, Trebuchet, sans-serif;
  font-size: 11px;
  color: rgba(0, 0, 0, .87);
}

.ziltag-base-page__href a {
  color: rgba(0, 0, 0, .87);
}

.ziltag-base-page .ziltag-base-page__avatar{
  float: right;
  margin: 12px 16px;
}

.ziltag-base-page .ziltag-base-page__avatar-menu {
  position: absolute;
  right: 17px;
  top: 47px;
}

.ziltag-base-page .ziltag-ziltag-map {
  margin: 12px 18px 4px;
}

.ziltag-base-page .ziltag-base-page__href {
  margin: 0 18px;
}
