:root {
  --ziltag-radius: 10px;
  --ziltag-diameter: calc(var(--ziltag-radius) * 2);
  --ziltag-border: 1px;
}

.ziltag-ziltag {
  width: var(--ziltag-diameter);
  height: var(--ziltag-diameter);
  background: rgba(151, 151, 151, 1);
  border: var(--ziltag-border) solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  box-shadow: 0 6px 2px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  cursor: pointer;
}

.ziltag-ziltag--activated {
  background: rgba(238, 46, 36, 1);
}
