.ziltag-ziltag-input {
  position: relative;
  display: flex;
}

.ziltag-ziltag-input textarea {
  width: 250px;
  height: 16px;
  padding: 0;
  font-family: Roboto, GillSans, Calibri, Trebuchet, sans-serif;
  font-size: 14px;
  line-height: 15px;
  color: rgba(0, 0, 0, .87);
  border: 0;
  outline: 0;
  resize: none;
}

.ziltag-ziltag-input__post {
  width: 50px;
  height: 15px;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, .26);
  border-left: 1px solid rgba(0, 0, 0, .26);
  cursor: pointer;
}

.ziltag-ziltag-input__post--activated {
  font-weight: 500;
  color: rgba(0, 0, 0, .87);
  border-left: 1px solid rgba(0, 0, 0, .87);
}
