.ziltag_map_verification__message{
  font-family: Roboto-Medium, sans-serif;
  font-size: 12px;
}
.ziltag_map_verification__footer{
  font-family: Roboto-Regular, sans-serif;
  font-size: 10px;
}

.ziltag_map_verification__resend{
  font-family: Roboto-Regular, sans-serif;
  font-size: 10px;
  text-align: center;
}