.ziltag-ziltag-map {
  position: relative;
  cursor: pointer;
}

.ziltag-ziltag-map__img {
  display: block;
}

.ziltag-ziltag-map__prompt {
  display: flex;
  width: 146px;
  height: 27px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .54);
  font-size: 14px;
  color: white;
}

.ziltag-ziltag-map .ziltag-ziltag-map__img,
.ziltag-ziltag-map__prompt,
.ziltag-ziltag-map__container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.ziltag-ziltag-map .ziltag-ziltag-map__img {
  z-index: 0;
  width: 100%;
}

.ziltag-ziltag-map .ziltag-ziltag-map__prompt {
  z-index: 4;
}

.ziltag-ziltag-map .ziltag-ziltag-map__container {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.ziltag-ziltag-map .ziltag-ziltag-map__href {
  position: absolute;
}

.ziltag-ziltag-map__container .ziltag-ziltag, .ziltag-co-div {
  position: absolute;
}

.ziltag-ziltag-map__container .ziltag-ziltag {
  z-index: 2;
}

.ziltag-ziltag-map__container .ziltag-co-div {
  z-index: 3;
}

.ziltag-co-div .ziltag-ziltag-preview,
.ziltag-co-div .ziltag-ziltag-form,
.ziltag-co-div .ziltag-ziltag-input,
.ziltag-co-div .ziltag-ziltag-map-dialog {
  width: 311px;
  margin: 6px 0 6px 15px;
}

.ziltag-co-div .ziltag-ziltag-preview {
  width: 298px;
  height: 38px;
  margin: 11px 14px;
}

.ziltag-co-div .ziltag-ziltag-input {
  margin: 20px 0 20px 15px;
}

.ziltag-ziltag-map--mobile .ziltag-ziltag-map__prompt {
  display: none;
}
