.ziltag-base-page__avatar-menu-item {
  display: flex;
  width: 100%;
  height: 36px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  font-family: Roboto, GillSans, Calibri, Trebuchet, sans-serif;
  font-size: 12px;
  background: white;
  cursor: pointer;
}

.ziltag-base-page__avatar-menu-item:hover {
  background: rgba(0, 0, 0, .12)
}

.ziltag-base-page__avatar-menu {
  position: relative;
  width: 86px;
  padding: 0;
  border-radius: 2px;
  box-shadow: 0 0 5px #333;
}

.ziltag-base-page__avatar-menu::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 5px;
  box-sizing: border-box;
  border: 5px solid black;
  border-color: transparent transparent white white;
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.12);
}

.ziltag-base-page__avatar-menu hr {
  margin: 0 6px;
}
