.interactive_dialog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: white;
}
.interactive_dialog__content {
  border-right: 2px solid;
  width: 100%;
}
.interactive_dialog__actions {
  text-align: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100px;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  position: relative;
}
.interactive_dialog__action--active {
  color: red;
}
.interactive_dialog__cancel {
  bottom: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.auth-form__fields > .field {
  margin-bottom: 20px;
}
.auth-form__action {
  margin-bottom: 20px;
}
.auth-form__footer {
  font-size: 10px;
}

.field {
  position: relative;
}
.field__icon {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
}
.field__input {
  border-width: 0;
  border-bottom: 1px solid;
  padding-left: 40px;
  height: 20px;
}
.field__input:focus {
  outline: 0;
}
