.ziltag-media-carousel {
  position: relative;
  display: flex;
  width: 100%;
  height: 238px;
}

.ziltag-media-carousel__youtube {
  border: 0;
}

.ziltag-media-carousel__youtube--active {
  width: calc(80% - 16px);
}

.ziltag-media-carousel__youtube--next {
  width: 20%;
}

.ziltag-media-carousel__youtube--unstaged {
  display: none;
}

.ziltag-media-carousel__mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  opacity: .68;
}

.ziltag-media-carousel .ziltag-media-carousel__youtube--active {
  margin-right: 16px;
}
