.body {
  width: 100vw;
  height: 100vh;
  background: url(/images/shutter.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.box {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 50px 80px ;
  color: white;
}
.box__title {
  font-size: 112px;
  font-weight: 300;
}
.box__subtitle {
  font-size: 34px;
  font-weight: 500;
  margin-top: 10px;
}
.box__footer {
  font-size: 24px;
  font-weight: 400;
  margin-top: 10px;
}
.box__footer a{
  color: white;
}
