.ziltag-ziltag-404-page {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: url(/images/shutter.jpg) fixed center center;
  background-size: cover;
  color: white;
}

.ziltag-ziltag-404-page__main {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 50px 80px;
}

.ziltag-ziltag-404-page__explanation {
  margin: 0 0 10px;
  font-size: 34px;
  font-weight: 500;
}

.ziltag-ziltag-404-page__suggestion {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

.ziltag-ziltag-404-page h1 {
  margin: 0 0 10px;
  font-size: 112px;
  font-weight: 300;
}

.ziltag-ziltag-404-page a {
  color: white;
}
